<div class="min-vw-100 flex-fill p-4 d-flex flex-row justify-content-between align-items-center">
    <button mat-raised-button matTooltip="Создать заметку" (click)="createArticle()">
        <mat-icon class="m-0" role="button">control_point</mat-icon>
    </button>
    <p class="text-xl-center fs-1">Мои заметки и мероприятия</p>
    <button mat-raised-button matTooltip="Очистить локальное хранилище" (click)="clearLocalStorage()">
        <mat-icon class="m-0" role="button">delete_outlined</mat-icon>
    </button>
</div>
<div class="min-vw-100 p-4 d-flex flex-row justify-content-around align-items-center">
    <div>
        Заметок:
        <span class="fw-bold">{{ stat.totalArticles }}</span>
    </div>
    <div>
        Мероприятий:
        <span class="fw-bold">{{ stat.totalItems }}</span>
    </div>
    <div>
        Выполнено:
        <span class="fw-bold">{{ stat.totalDone }}</span>
        <span> ({{ stat.donePercent }}%)</span>
    </div>
</div>
