.todo-item-row {
    .item-buttons {
        display: none;
    }
    &:hover {
        .item-buttons {
            display: flex;
            position: absolute;
            right: 0;
            top: 0;
            mat-icon {
                &:hover {
                    color: lightslategray;
                }
            }
        }
    }
}
